{% extends 'marketing_tool_lead_manager_app/base.html' %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block headscript %}
	<!--Script Reference[1]-->
	<script src="https://cdn.zinggrid.com/zinggrid.min.js" defer></script>
	<style>
		zing-grid[loading] {
			height: 367px;
		}

	</style>
{% endblock headscript %}

{% block content %}
	<!--Grid Component Placement[2]-->
	<zing-grid columns-control draggable layout-controls pager page-size="10" page-size-options="10,50,100,-1" search sort filter viewport-stop src="http://localhost:8019/leads_api/details/{{location_from}}/{{location_to}}/{{login_time}}/{{logout_time}}">
		<zg-caption>
            <p> All Leads</p>
        </zg-caption>
		<zg-colgroup>
            <zg-column index="City"></zg-column>
			<zg-column index="CompanyName"></zg-column>
            <zg-column index="Name"></zg-column>
            <zg-column index="EmailId"></zg-column>
            <zg-column index="ContactNo"></zg-column>
      <zg-column index="Lead_Status"></zg-column>
		</zg-colgroup>
	</zing-grid>
	<script>
		// window.onload event for Javascript to run after HTML
		// because this Javascript is injected into the document head
		window.addEventListener('load', () => {
			// content after DOM load
		});

{% endblock %}
